<main class="email-address-check-page">
    <section class="email-address-check-field">
        <h1 class="field-title">BAND.</h1>
        <p class="email-address-check-message">
            宛に認証コードを送信しました。確認し、認証を完了してください。
        </p>
        <form action="" class="email-address-check-form">
            <input type="email" class="email-address-input" placeholder="メールアドレスを入力">
            <input type="submit" value="送信" class="send-check-mail">
        </form>
    </section>
</main>
