<main class="email-address-check-page">
    <section class="email-address-check-field">
        <h1 class="field-title">BAND.</h1>
        <p class="email-address-check-message">
            まず、メールアドレスの認証を行います。以下のフィールドにメールアドレスを入力し、認証を完了してください。
        </p>
        <%= form_with model: @verification_code, class: "email-address-check-form" do |f| %>
            <%= f.text_field :email_address, class: "email-address-input" %>
            <%= f.submit "送信", class: "send-check-mail" %>
        <% end %>
    </section>
</main>
