<main class="toppage">
    <div class="background">
    </div>
    <div class="container">
        <h1 class="band-title">BAND.</h1>
        <p class="catch-copy">最高の仲間と、最高の音楽を。</p>
        <button class="to-signin">
            <a href="/email-address-check">サインイン</a>
        </button>
        <p class="message">すでにアカウントをお持ちの方は、<a href="">ログイン</a>してください。</p>
    </div>
</main>
