<header>
    <div class="container">
        <h1 class="header-logo">BAND.</h1>
        <nav class="header-nav">
            <ul class="header-nav-list">
                <li><i class="fas fa-bell"></i></li>
                <li><i class="fas fa-guitar"></i></li>
                <li><i class="fas fa-play-circle"></i></li>
                <li><i class="fas fa-envelope"></i></li>
                <li><a href="<%= @current_user.id %>"><%= @current_user.nickname %></a></li>
            </ul>
        </nav>
    </div>
</header>