// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body,html {
    height: 100%;
}
.login-page {
    background-image: image-url('signin-page-back.jpg');
    width: 100%;
    height: 100%;
    background-size: cover;
}
.login-area {
    width: 35%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgb(206, 206, 206);
    padding: 0.6em 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}
.area-title {
    margin: 0;
    text-align: center;
    font-size: 3.3em;
    font-family: 'Lexend Mega', sans-serif;
    letter-spacing: 0.1em;
    color: rgb(219, 184, 184);
}
.area-sub-title {
    color: rgb(219, 184, 184);
    font-weight: bold;
    text-align: center;
    font-size: 1em;
    margin-top: 0.1em;
}
.login-form {
    width: 65%;
    margin: 0 auto;
    margin-top: 2em;
}
.login-form label {
    font-size: 0.85em;
    color: rgb(61, 61, 61);
}
.login-form .input-field {
    width: 100%;
    height: 1.2em;
    font-size: 1.1em;
    margin: 0 0 35px 0;
    border: none;
    border-bottom: 1px solid rgb(61, 61, 61);
    padding-left: 0.5em;
}
.login-form .btn-area {
    text-align: center;
    margin-top: 0.7em;
}
.login-form .submit-btn {
    background-color: #ED9E9E;
    border-radius: 3px;
    border: none;
    font-size: 1.5em;
    padding: 0.2em 0.6em;
    transition: 0.6s;
    color: white;
    cursor: pointer;
}
.login-form .submit-btn:hover {
    opacity: 0.7;
}